**.DS_STORE
dwm/*.o
slstatus/*.p
**/.emacs.d/auto-save-list
**/.emacs.d/elpa
**/.emacs.d/ido*
**/.emacs.d/eln*
**/.emacs.d/todo
**/.emacs.d/transient
**/.emacs.d/tutorial
**/.emacs.d/tree-sitter/
**/.emacs.d/.mc-lists.el
**/.emacs.d/projects
**/.emacs.d/*session*


